@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap");

* {
  box-sizing: border-box;
  font-family: Fira code, sans-serif;
}
body {
  background-color: black;
}
#container {
  border: 0px solid red;
  width: 30%;
  margin: auto;
  margin-top: 50px;
  background-color: #15151cec;
  border-radius: 9px;
}
#display {
  width: 100%;
  height: 70px;
  border-radius: 10px;
  border: 2px solid;
  font-size: 1.9rem;
  font-weight: bolder;
  text-align: right;
  padding-right: 20px;
  color: white;
  border: 2px solid #22223b;
  background-color: #22223b;
}
#button {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  padding: 1rem;
}
button {
  outline: none;
  border: none;
  border-radius: 10px;
  height: 3rem;
  font-size: xx-large;
  background-color: #15151c00;
  display: flex;
  align-items: end;
  justify-content: center;
}
.Ac {
  color: #00cc7a;
}
.but {
  color: white;
}
#clear {
  color: #00cc7a;
}
h1 {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: xx-large;
  margin-bottom: 0px;
  font-weight: bolder;
  color: #22223b;
}
.operator {
  color: #00cc7a;
}
/* for smartphone */
@media all and (min-width: 0px) and (max-width: 720px) {
  html {
    max-height: 100%;
  }
  body {
    font-size: 80%;
    background-color: #15151c;
    height: 40vh;
  }
  #container {
    margin-top: 0;
    /* border: 2px solid white; */
    width: 98%;
  }
  #button {
    gap: 0rem;
    row-gap: 2.5rem;
  }
  button {
    /* border: 1px solid white; */
    height: 4.5rem;
  }
  #display {
    height: 5rem;
    background-color: #15151c;
    margin: 0;
    outline: none;
    border: none;
  }
  #equal {
    height: 100%;
  }
}
/* for tablet */
@media all and (min-width: 721px) and (max-width: 1024px) {
  #container {
    font-size: 80%;
    width: 60%;
    height: 100%;
  }
  #button {
    margin-top: 3rem;
    row-gap: 3rem;
  }
  button {
    height: 1rem;
  }
}
#equal {
  /* border: 2px solid white; */
  background-color: #00cc7a;
  grid-row: span 2;
  height: 100%;
  align-items: center;

  color: rgb(19, 18, 16);
}
